body {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}

.table,
.side {
  border: 2px black solid;
  padding: 1%;
  margin: 1%;
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80vw;
  height: 80vh;
  position: relative;
}

.side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.answer {
  display: flex;
  align-items: center;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.result p {
  color: white;
  margin: 0;
}
.question {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90%;
}

.question button {
  width: 30%;
  padding: 0;
}

button {
  background-color: white;
  padding: 10px 15px;
}

button:hover {
  border: 2px rgb(212, 212, 212) solid;
}

/* .rock,
.scissors,
.win,
.lose,
.question {
    display: none;
    } */

.hide {
  display: none !important;
}

.pop-up {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1,
h2,
h3 {
  font-size: 17px;
  font-weight: 100;
  margin: 10px;
}
